language: node_js
node_js:
  - 12
addons:
  chrome: stable
install:
  - npm install
  - npm install -g codecov
script:
  - echo "Add script to pack chrome extension"
  - npm test
  - istanbul cover ./node_modules/mocha/bin/_mocha --reporter lcovonly -- -R spec
  - codecov
after_success: npm run coverage